body {
    font-family: 'Roboto', serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    width: 100%;
    background: transparent;
    padding: 25px 40px 20px 15px;
    z-index: 100;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
}

.menu-selecao {
    position: relative;
    display: inline-block;
    right: 45px;
    border: 2px solid black;
}

.menu-selecao button {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
}

.botao-principal {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.botao-principal i {
    rotate: -90deg;
    font-size: 2rem;
    padding-left: 2px;
    transition: transform 0.3s ease;
}

.country-list {
    top: 100%;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    position: relative;
    width: 222px;
    z-index: 999;
}

.country-list li {
    border-bottom: 1px solid #eee;
}

.country-list li:last-child {
    border-bottom: none;
}

.country-list button {
    background: none;
    border: none;
    padding: 10px 15px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.hidden {
    display: none;
}

.botao-principal.active i {
    transform: rotate(90deg);
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    font-size: 1.4rem;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.links a:hover {
    background-color: black;
    color: white;
}