.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.slider .slide {
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .left-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.left-info .penetrte-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, .1);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    mask-clip: text, padding-box;
    mask-composite: xor;
    -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
}

.penetrte-blur h1 {
    font-size: 250px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .9);
}

.left-info .content {
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: #fff;
}

.content h3 {
    font-size: 20px;
}

.content p {
    font-size: 16px;
    margin: 10px 0 15px;
    padding-right: 15px;
}

.slide .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.right-info h1 {
    font-size: 250px;
    color: #fff;
    text-shadow:
        0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb;
}

.right-info h3 {
    position: absolute;
    font-size: 40px;
    margin-left: 13px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transform: translateY(250%);
    text-transform: uppercase;
}

.navigation {
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 99;
}

.navigation span:nth-child(1) {
    background: transparent;
}

.navigation span:nth-child(1):hover {
    background: #fff;
}

.navigation span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    margin-left: 25px;
    transition: .5s;
}

.navigation span i {
    font-size: 35px;
    color: #444;
    transition: .5s;
}

.navigation span:nth-child(1) i {
    color: #fff;
}

.navigation span:nth-child(1):hover i {
    color: #444;
}